///////////////////////////////////////
// Layout
///////////////////////////////////////

.container {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  min-width: 640px;
  max-width: 760px;
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.content {
  float: left;
  width: 46.875%;
  min-width: 300px;
  & + .content {
    float: right;
  }
}

@media only screen and (max-width: 719px) {
  .container {
    min-width: 100px;
    width: 88.88%;
  }
  .content {
    float: none;
    min-width: 100px;
    width: 100%;
  }

}