///////////////////////////////////////
// Typography
///////////////////////////////////////

// Adapted from Jason Weaver's TYPOGRAPHY AND MODULAR SCALES WITH SASS 
// http://jasonweaver.name/blog/typography-and-modular-scales-with-sass/

// Variables
$type-ratio: 1.25;
$squared: $type-ratio * $type-ratio;
$cubed:   $type-ratio * $type-ratio * $type-ratio;
$quartic: $type-ratio * $type-ratio * $type-ratio * $type-ratio;
$font-size: 1rem; // 16px
$font-size-px: 16px;
$line-height: $type-ratio;
$type-margin-bottom: $font-size * $squared;

// Sweet heavenly glory
@mixin heading($level) {
  @if $level == 6 { // 1.25rem | 20px
    font-size: $font-size-px * $type-ratio;
    font-size: $font-size * $type-ratio;
  }
  @if $level == 5 { // 25px | 1.5625rem
    font-size: ($font-size-px * $squared);
    font-size: ($font-size * $squared);
  }
  @if $level == 4 { // 31.25px | 1.95313rem
    font-size: ($font-size-px * $cubed);
    font-size: ($font-size * $cubed);
  } 
  @if $level == 3 { // 39.0625px | 2.44141rem
    font-size: ($font-size-px * $quartic);
    font-size: ($font-size * $quartic);
  }
  @if $level == 2 { // 48.82813px | 3.05176rem
    font-size: ($font-size-px * $squared * $cubed);
    font-size: ($font-size * $squared * $cubed);
  }
  @if $level == 1 { // 61.03516px | 3.8147rem
    font-size: ($font-size-px * $cubed * $cubed);
    font-size: ($font-size * $cubed * $cubed);
  }
}

// Let's set some global styles
body {
  font: normal 100%/1.4 Georgia, "Times New Roman", serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Ensure body copy, input and button text all render the same
body,
input,
button {
  -webkit-font-smoothing: antialiased;
}

a {
  color: $primary;
  text-decoration: none;
  @include transition(color 200ms ease-in);
  &:hover {
    color: $primary-light;
    @include transition(color 200ms ease-out);
  }
}

p {
  font-size: $font-size-px;
  font-size: $font-size;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

b, strong { font-weight: bold; }
i, em { font-style: italic; }
u, ins { text-decoration: underline; }
s, strike, del { text-decoration: line-through; }

code, tt, pre,
kbd, var, samp {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", monospace;
}
code, samp, kbd {
  text-align: left;
  color: $text;
  background: darken($base, 10%);
}
pre code {
  line-height: $line-height;
  font-size: $font-size-px;
  font-size: $font-size;
}
pre {
  padding: $font-size;
  margin: $type-margin-bottom 0;
  overflow: auto;
  width: 93%;
  background: darken($base, 10%);
}
// Target IE6 & IE7
*:first-child+html pre {
  padding-bottom: $type-margin-bottom;
  overflow-y: hidden;
  overflow: visible;
  overflow-x: auto; 
}
* html pre { 
  padding-bottom: $type-margin-bottom;
  overflow: visible;
  overflow-x: auto;
}

small { font-size: $font-size-px * .85; font-size: $font-size * .85; }
big { font-size: $font-size-px * 1.2; font-size: $font-size * 1.2; }
sup { font-size: $font-size-px / 2; vertical-align: super; } 
sub { font-size: $font-size-px / 2; vertical-align: sub; }

hr { margin: ($type-margin-bottom * 2) 0}

blockquote {
  text-align: center;
  font-weight: bold;
  width: 60%;
  margin: 0 auto $type-margin-bottom;
  padding: $type-margin-bottom 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: $type-margin-bottom;
  line-height: $line-height;
}

h1 { @include heading(1); }
h2 { @include heading(2); }
h3 { @include heading(3); }
h4 { @include heading(4); }
h5 { @include heading(5); }
h6 { @include heading(6); }