* {
  @include animation(.25s, .5s, fadeIn);
}

header, nav ul, .intro, .about, .work, .work-page, .article-page, .articles, .feed, footer {
  @extend %grid;
}

header, nav ul, .intro, .about article, .work, .article-page, .articles, .feed, footer {
  padding: 0 20px;
}

header, .intro, .work, .about, .work-page .description, .portfolio, .articles, footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header, footer {
  @extend %grid--middle;
}

.intro, .about, .portfolio, .articles {
  padding-top: $gutter * 2;
}

header h1,
nav,
nav ul li,
.intro > article,
.work > article,
.about > article,
.articles > article,
.article-page > .meta,
.article-page > h2,
.article-page > article,
.work-page article,
.work-page aside,
.work-page .product-shot,
footer p {
  @extend %grid__item;
}

header {
  height: 120px;
  border-bottom: 1px solid $gray-light;
  h1, nav {
    @extend %one-half;
    @extend %palm--one-whole;
  }
  nav {
    ul li {
      @extend %one-third;
    }
  }
}

footer {
  border-top: 1px solid $gray-light;
  padding-top: $gutter;
}

.intro, .about, .articles, .article-page {
  @extend %grid--center;
  margin-bottom: $gutter;
  > article {
    @extend %six-tenths;
    @extend %lap--two-thirds;
    @extend %palm--one-whole;
  }
}

.work {
  @extend %grid;
  margin-bottom: $gutter * 3;
  > article {
    @extend %one-third;
    @extend %palm--one-whole;
    margin-bottom: $gutter;
  }
}

.articles .post {
  margin-bottom: $gutter;
  border-bottom: 1px solid $gray-light;
}

.article-page {
  margin-bottom: $gutter * 3;
  .meta, .meta + h2 {
    text-align: center;
  }
  .meta {
    margin-bottom: 0;
    color: $gray;
    font-size: 1em;
  }
  h2 {
    font-size: 4em;
    margin-bottom: $gutter;
  }
}

.portfolio {
  @extend %grid;
  @extend %grid--full;
  figure {
    @extend %grid__item;
    @extend %one-half;
    @extend %palm--one-whole;
    margin-bottom: $gutter;
    padding: 0 $gutter/2;
    position: relative;
  }
  figcaption {
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    //background-color: rgba(51,51,50,0.8);
    background-color: rgba(255,255,255,0.85);
    @include animation(500ms, 0ms, fadeOut);
    @include opacity(0);
    @include transition(all 200ms linear);
    &:hover {
      @include opacity(100);
      @include transition(all 100ms linear);
    }
    p {
      text-align: center;
      // color: white;
      color: darken($text, 10%);
      text-align: center;
      position: absolute;
      top: 50%;
      height: $gutter;
      width: 100%;
      margin-top: -$gutter/2;
    }
  }
  img { 
    display: block;
  }
  // a {
  //   display: block;
  //   height: 100%;
  //   width: 100%;
  // }
}

.work-page {
  margin-bottom: $gutter;
  h2 {
    margin-bottom: $gutter;
  }
  article {
    @extend %one-whole;
  }
  .description {
    @extend %grid;
    @extend %grid--center;
    padding: 0 20px;
  }
  aside {
    @extend %two-thirds;
    @extend %portable--one-whole;
    padding-top: $gutter * 2;
    padding-bottom: $gutter * 2;
  }
  .product-shot {
    @extend %one-whole;
    margin-bottom: $gutter;
  }
  .browser {
    background: $gray-light;
    border-radius: 4px;
    margin-bottom: $gutter * 2;
    .toolbar {
      padding: 5px 15px;
      font-size: 2em;
      letter-spacing: -2px;
    }
    img {
      margin-bottom: 10px;
    }
  }
}

.featured-image {
  height: 650px;
  margin-bottom: $gutter;
  @include full-width-background(center, center);
  @include transition(height 200ms linear);
}