// 1600 px
@include breakpoint(full) {
  .work-page .description {
    padding: 0 0 0 0; 
  }
  .featured-image {
    height: 850px;
  }
}

@include breakpoint(tablet) {
  .featured-image {
    height: 500px;
  }
  .work-page .description aside,
  .work-page .description .product-shot {
    padding-left: 0;
  }
}

// 480 px
@include breakpoint(mobile) {
  h1, h2, h3, h4, h5, h6 {
    font-size: $font-size-px;
    font-size: $font-size;
    font-weight: bold;
  }
  header h1,
  header nav,
  .portfolio article {
    padding-left: 0;
  }
  header {
    line-height: $line-height * 1.2;
    padding: $gutter 0;
  }
  header h1 { 
    margin-bottom: $gutter / 2;
  }
  header h1, header nav ul li {
    text-align: center;
  }
  .intro h1 {
    font-size: 24px;
  }
  .featured-image {
    height: 320px;
  }
  .article-page .meta + h2 {
    font-size: 2em;
  }
}