///////////////////////////////////////
// Global Variables
///////////////////////////////////////

  $site-width: 960px;


///////////////////////////////////////
// Colors
///////////////////////////////////////

  $base:              #FFFFFF;
  $text:              #5E5E66;
  $primary:           #16A8CC;
  $primary-dark:      mix($primary, black, 80%);
  $primary-light:     mix($primary, white, 80%);
  $secondary:         #de555a;
  $secondary-dark:    mix($secondary, black, 85%);
  $secondary-light:   mix($secondary, white, 85%);
  $gray:              #ADABA8;
  $gray-dark:         mix($gray, black, 85%);
  $gray-light:        #EEE;


///////////////////////////////////////
// Type Stuff
///////////////////////////////////////

  $serif: Georgia, "Times New Roman", serif;
  $sans-serif: Helvetica, Arial, Verdana, sans-serif;
  $type-ratio: 1.45;
  $font-size: 1.3125rem; // 21px
  $font-size-px: 21px;
  $line-height: $type-ratio;
  $type-margin-bottom: $font-size * $type-ratio;


///////////////////////////////////////
// Grid Magicks
///////////////////////////////////////
  $responsive:            true!default;
  $mobile-first:          true!default;
  $gutter:                25px!default;
  $use-silent-classes:    true!default;
  $push:                  true!default;
  $pull:                  true!default;
  $use-markup-fix:        false!default;
  $breakpoints: (
      'palm' '(max-width: 480px)',
      'lap' '(min-width: 481px) and (max-width: 1023px)',
      'portable' '(max-width: 1023px)',
      'desk' '(min-width: 1024px)'
  )!default;
  $breakpoint-has-widths: ('palm', 'lap', 'portable', 'desk')!default;
  $breakpoint-has-push:   ('palm', 'lap', 'portable', 'desk')!default;
  $breakpoint-has-pull:   ('palm', 'lap', 'portable', 'desk')!default;
  $class-type:            unquote(".");
  @if $use-silent-classes == true{
      $class-type:        unquote("%");
  }
